{% extends 'base.html' %}
{% block head %}
    <title>404 Page not found!</title>
{% endblock %}
{% block body %}
<section class="container text-light text-center justify-content-center align-items-center">
    <div class="justify-content-center text-center align-items-center mt-5"></div>
        <h1 class="h1" style="font-size: 100px">404 Not Found :(</h1>
    <h5 class="h5" style="font-size: 35px">This page dosn't exist! </h5><br><br>
    <p class="fw-light">Would you like to generate a QR Code?</p>
    <button class="btn btn-primary" href="/">QR Code</button>
</section>

{% endblock %}